In [1]:
import pandas as pd 
import unicodedata

In [2]:
file = pd.read_csv("Datasets/combined_soccer_data.csv")
df = pd.DataFrame(file)

## **SORT**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   259 non-null    int64
 1   Venue                  259 non-null    object
 2   Date                   259 non-null    object
 3   Barcelona_Goals        259 non-null    int64
 4   Real_Madrid_Goals      259 non-null    int64
 5   Winner                 259 non-null    object
 6   Real_Madrid_Own_Goals  8 non-null      object
 7   Barcelona_Own_Goals    5 non-null      object
 8   Barcelona_Scorers      205 non-null    object
 9   Real_Madrid_Scorers    199 non-null    object
 10  League                 259 non-null    object
 11  source_file            259 non-null    object
dtypes: int64(3), object(9)
memory usage: 24.4+ KB

In [4]:
df.head()

,Year,Venue,Date,Barcelona_Goals,Real_Madrid_Goals,Winner,Real_Madrid_Own_Goals,Barcelona_Own_Goals,Barcelona_Scorers,Real_Madrid_Scorers,League,source_file
0,1916,Camp del Carrer Muntaner,26-03-1916,2,1,Barcelona,NaN,NaN,"Alcántara, Martínez",Petit,Copa Del Rey,copa_del_rey
1,1916,Campo de O'Donnell,02-04-1916,1,4,Real Madrid,NaN,NaN,Martínez,"Bernabeu, Bernabeu, Bernabeu, Petit",Copa Del Rey,copa_del_rey
2,1916,Campo de O'Donnell,13-04-1916,6,6,Draw,NaN,NaN,"Alcántara, Alcántara, Alcántara, Mallorquí, Ba...","Belaunde, Belaunde, Belaunde, Bernabeu, Bernab...",Copa Del Rey,copa_del_rey
3,1916,Campo de O'Donnell,15-04-1916,2,4,Real Madrid,NaN,NaN,"Martínez, Martínez","Bernabéu, Zabalo, Aranguren, Aranguren",Copa Del Rey,copa_del_rey
4,1926,Santiago Bernabéu Stadium,18-04-1926,5,1,Barcelona,NaN,NaN,"Samitier, Samitier, Samitier, Samitier, Piera",Monjardín,Copa Del Rey,copa_del_rey

In [6]:
df['Date'] = pd.to_datetime(df['Date'], format='mixed', dayfirst=True)
# Sort DataFrame by Date (Ascending)
df_sorted = df.sort_values(by='Date', ascending=True).reset_index(drop=True)

In [7]:
df_sorted.head()

,Year,Venue,Date,Barcelona_Goals,Real_Madrid_Goals,Winner,Real_Madrid_Own_Goals,Barcelona_Own_Goals,Barcelona_Scorers,Real_Madrid_Scorers,League,source_file
0,1902,Hipodromo,1902-05-13,3,1,Barcelona,NaN,NaN,"Steinberg, Steinberg, Gamper",Johnson,Copa de la Coronacion,coronacion
1,1916,Camp del Carrer Muntaner,1916-03-26,2,1,Barcelona,NaN,NaN,"Alcántara, Martínez",Petit,Copa Del Rey,copa_del_rey
2,1916,Campo de O'Donnell,1916-04-02,1,4,Real Madrid,NaN,NaN,Martínez,"Bernabeu, Bernabeu, Bernabeu, Petit",Copa Del Rey,copa_del_rey
3,1916,Campo de O'Donnell,1916-04-13,6,6,Draw,NaN,NaN,"Alcántara, Alcántara, Alcántara, Mallorquí, Ba...","Belaunde, Belaunde, Belaunde, Bernabeu, Bernab...",Copa Del Rey,copa_del_rey
4,1916,Campo de O'Donnell,1916-04-15,2,4,Real Madrid,NaN,NaN,"Martínez, Martínez","Bernabéu, Zabalo, Aranguren, Aranguren",Copa Del Rey,copa_del_rey

In [8]:
df_sorted.shape

(259, 12)

In [9]:
df_sorted.to_csv("Datasets/sorted_df.csv", index=False)

### **Replacing non-standard characters**

In [13]:
file = pd.read_csv("Datasets/sorted_df.csv")
df = pd.DataFrame(file)

In [14]:
def clean_text(text):
    if isinstance(text, str):
        # Split by commas
        names = text.split(',')
        
        # Clean each name
        cleaned_names = []
        for name in names:
            # Remove leading/trailing whitespace
            name = name.strip()
            
            # Additional specific replacements
            replacements = {
                'Ã¡': 'a',
                'Ã­': 'i',
                'Ã³': 'o',
                'Ã ': 'a',
                'Ã¢': 'a',
                'Ã±': 'n',
                'Ã': 'i',
                'Â©': 'e',
                'Ã': 'A',
                '©': 'e',
                'Å': 'n',
                'Ã': 'o',
                'Ã': 'a'
            }
            
            for old, new in replacements.items():
                name = name.replace(old, new)
            
            # Normalize Unicode characters
            normalized = unicodedata.normalize('NFKD', name)
            # Remove diacritics (keeping base characters)
            cleaned = ''.join(c for c in normalized if not unicodedata.combining(c))
            cleaned_names.append(cleaned)
        
        # Join back with commas and spaces
        return ', '.join(cleaned_names)
    return text

In [15]:

# Clean both columns
df['Barcelona_Scorers'] = df['Barcelona_Scorers'].apply(clean_text)
df['Real_Madrid_Scorers'] = df['Real_Madrid_Scorers'].apply(clean_text)

In [17]:
df['Real_Madrid_Own_Goals'] = df['Real_Madrid_Own_Goals'].apply(clean_text)
df['Barcelona_Own_Goals'] = df['Barcelona_Own_Goals'].apply(clean_text)
df['Venue'] = df['Venue'].apply(clean_text)

In [18]:
df.to_csv("Datasets/clean_df.csv", index=False)

### **Names**

In [2]:
file = pd.read_csv("el_clasico.csv")
df = pd.DataFrame(file)

In [33]:
def replace_ronaldo(text):
    if isinstance(text, str):
        # Split by comma
        names = [name.strip() for name in text.split(',')]
        
        # Replace each instance of 'Ronaldo'
        cleaned_names = ['Valle Mas' if name == 'Mas' else name for name in names]
        
        # Join back with commas
        return ', '.join(cleaned_names)
    return text

In [34]:
df['Barcelona_Scorers'] = df['Barcelona_Scorers'].apply(replace_ronaldo)

In [ ]:
def replace_suarez(row):
    if pd.notna(row['Barcelona_Scorers']) and 2002 <= row['Year'] <= 2007:
        # Split names by comma
        names = [name.strip() for name in row['Barcelona_Scorers'].split(',')]
        
        # Replace Suarez with L.A.Suarez
        names = ['Ronaldo Nazario' if name.strip() == 'Ronaldo' else name for name in names]
        
        # Join back with commas
        return ', '.join(names)
    return row['Barcelona_Scorers']

In [28]:
df['Real_Madrid_Scorers'] = df.apply(replace_suarez, axis=1)

In [3]:
df.head()

,Date,Venue,League,Barcelona_Goals,Real_Madrid_Goals,Winner,Barcelona_Scorers,Real_Madrid_Scorers,Real_Madrid_Own_Goals,Barcelona_Own_Goals
0,13-05-1902,Hipodromo,Copa de la Coronacion,3,1,Barcelona,"Steinberg, Steinberg, Gamper",Johnson,NaN,NaN
1,26-03-1916,Camp del Carrer Muntaner,Copa Del Rey,2,1,Barcelona,"Alcantara, Martinez",Petit,NaN,NaN
2,02-04-1916,Campo de O'Donnell,Copa Del Rey,1,4,Real Madrid,Martinez,"Bernabeu, Bernabeu, Bernabeu, Petit",NaN,NaN
3,13-04-1916,Campo de O'Donnell,Copa Del Rey,6,6,Draw,"Alcantara, Alcantara, Alcantara, Mallorqui, Ba...","Belaunde, Belaunde, Belaunde, Bernabeu, Bernab...",NaN,NaN
4,15-04-1916,Campo de O'Donnell,Copa Del Rey,2,4,Real Madrid,"Martinez, Martinez","Bernabeu, Zabalo, Aranguren, Aranguren",NaN,NaN

In [30]:
df.shape

(259, 12)

In [31]:
df.to_csv("Datasets/clean.csv", index=False)

### **Reorder**

In [36]:
file = pd.read_csv("Datasets/clean.csv")
df = pd.DataFrame(file)

In [37]:
new_order = ['Date', 'Venue', 'League', 'Barcelona_Goals','Real_Madrid_Goals', 'Winner', 'Barcelona_Scorers', 
             'Real_Madrid_Scorers', 'Real_Madrid_Own_Goals','Barcelona_Own_Goals' ]
el_clasico = df[new_order]

In [38]:
el_clasico.head()

,Date,Venue,League,Barcelona_Goals,Real_Madrid_Goals,Winner,Barcelona_Scorers,Real_Madrid_Scorers,Real_Madrid_Own_Goals,Barcelona_Own_Goals
0,13-05-1902,Hipodromo,Copa de la Coronacion,3,1,Barcelona,"Steinberg, Steinberg, Gamper",Johnson,NaN,NaN
1,26-03-1916,Camp del Carrer Muntaner,Copa Del Rey,2,1,Barcelona,"Alcantara, Martinez",Petit,NaN,NaN
2,02-04-1916,Campo de O'Donnell,Copa Del Rey,1,4,Real Madrid,Martinez,"Bernabeu, Bernabeu, Bernabeu, Petit",NaN,NaN
3,13-04-1916,Campo de O'Donnell,Copa Del Rey,6,6,Draw,"Alcantara, Alcantara, Alcantara, Mallorqui, Ba...","Belaunde, Belaunde, Belaunde, Bernabeu, Bernab...",NaN,NaN
4,15-04-1916,Campo de O'Donnell,Copa Del Rey,2,4,Real Madrid,"Martinez, Martinez","Bernabeu, Zabalo, Aranguren, Aranguren",NaN,NaN

In [40]:
el_clasico.to_csv("el_clasico.csv", index=False)

In [2]:
file = pd.read_csv("el_clasico.csv")
df = pd.DataFrame(file)

In [3]:
df.head()

,Date,Venue,League,Barcelona_Goals,Real_Madrid_Goals,Winner,Barcelona_Scorers,Real_Madrid_Scorers,Real_Madrid_Own_Goals,Barcelona_Own_Goals
0,13-05-1902,Hipodromo,Copa de la Coronacion,3,1,Barcelona,"Steinberg, Steinberg, Gamper",Johnson,NaN,NaN
1,26-03-1916,Camp del Carrer Muntaner,Copa Del Rey,2,1,Barcelona,"Alcantara, Martinez",Petit,NaN,NaN
2,02-04-1916,Campo de O'Donnell,Copa Del Rey,1,4,Real Madrid,Martinez,"Bernabeu, Bernabeu, Bernabeu, Petit",NaN,NaN
3,13-04-1916,Campo de O'Donnell,Copa Del Rey,6,6,Draw,"Alcantara, Alcantara, Alcantara, Mallorqui, Ba...","Belaunde, Belaunde, Belaunde, Bernabeu, Bernab...",NaN,NaN
4,15-04-1916,Campo de O'Donnell,Copa Del Rey,2,4,Real Madrid,"Martinez, Martinez","Bernabeu, Zabalo, Aranguren, Aranguren",NaN,NaN

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   259 non-null    object
 1   Venue                  259 non-null    object
 2   League                 259 non-null    object
 3   Barcelona_Goals        259 non-null    int64
 4   Real_Madrid_Goals      259 non-null    int64
 5   Winner                 259 non-null    object
 6   Barcelona_Scorers      205 non-null    object
 7   Real_Madrid_Scorers    199 non-null    object
 8   Real_Madrid_Own_Goals  8 non-null      object
 9   Barcelona_Own_Goals    5 non-null      object
dtypes: int64(2), object(8)
memory usage: 20.4+ KB

In [5]:
def count_scorers(scorers_str):
    if pd.isna(scorers_str) or scorers_str == '':
        return 0
    return len(scorers_str.split(','))

# Calculate goals from scorers and own goals for Barcelona
df['Calculated_Barcelona_Goals'] = df.apply(lambda row: 
    count_scorers(row['Barcelona_Scorers']) + 
    (0 if pd.isna(row['Real_Madrid_Own_Goals']) else count_scorers(row['Real_Madrid_Own_Goals'])), 
    axis=1)

# Find mismatches
mismatches = df[df['Barcelona_Goals'] != df['Calculated_Barcelona_Goals']]

# Print mismatches with relevant columns
if len(mismatches) > 0:
    print("Found mismatches in the following matches:")
    for _, row in mismatches.iterrows():
        print(f"\nDate: {row['Date']}")
        print(f"Recorded Barcelona Goals: {row['Barcelona_Goals']}")
        print(f"Barcelona Scorers: {row['Barcelona_Scorers']}")
        print(f"Real Madrid Own Goals: {row['Real_Madrid_Own_Goals']}")
        print(f"Calculated Goals: {row['Calculated_Barcelona_Goals']}")
else:
    print("No mismatches found - all goal counts are consistent!")

Found mismatches in the following matches:

Date: 04-06-1983
Recorded Barcelona Goals: 2
Barcelona Scorers: Santillana
Real Madrid Own Goals: nan
Calculated Goals: 1

In [7]:
def verify_winner(row):
    barcelona_goals = row['Barcelona_Goals']
    madrid_goals = row['Real_Madrid_Goals']
    recorded_winner = row['Winner']
    
    # Determine the actual winner based on goals
    if barcelona_goals > madrid_goals:
        actual_winner = 'Barcelona'
    elif madrid_goals > barcelona_goals:
        actual_winner = 'Real Madrid'
    else:
        actual_winner = 'Draw'
    
    # Check if recorded winner matches actual winner
    if recorded_winner != actual_winner:
        return {
            'Date': row.get('Date', 'N/A'),
            'Barcelona_Goals': barcelona_goals,
            'Real_Madrid_Goals': madrid_goals,
            'Recorded_Winner': recorded_winner,
            'Actual_Winner': actual_winner
        }
    return None


# Check each row and collect discrepancies
discrepancies = []
for index, row in df.iterrows():
    result = verify_winner(row)
    if result:
        discrepancies.append(result)

# Print results
if discrepancies:
    print("Found incorrect winner entries:")
    for disc in discrepancies:
        print(f"\nMatch details:")
        print(f"\nDate: {disc['Date']}")
        print(f"Barcelona {disc['Barcelona_Goals']} - {disc['Real_Madrid_Goals']} Real Madrid")
        print(f"Recorded winner: {disc['Recorded_Winner']}")
        print(f"Actual winner should be: {disc['Actual_Winner']}")
else:
    print("All winner entries are correct!")

Found incorrect winner entries:

Match details:

Date: 04-06-1983
Barcelona 2 - 1 Real Madrid
Recorded winner: Real Madrid
Actual winner should be: Barcelona

Match details:

Date: 22-10-1983
Barcelona 1 - 2 Real Madrid
Recorded winner: Barcelona
Actual winner should be: Real Madrid

Match details:

Date: 04-04-1990
Barcelona 2 - 0 Real Madrid
Recorded winner: Real Madrid
Actual winner should be: Barcelona

Match details:

Date: 05-12-1990
Barcelona 0 - 1 Real Madrid
Recorded winner: Barcelona
Actual winner should be: Real Madrid

In [14]:
file = pd.read_csv("el_clasico.csv")
df = pd.DataFrame(file)

In [10]:
df.head()

,Date,Venue,League,Barcelona_Goals,Real_Madrid_Goals,Winner,Barcelona_Scorers,Real_Madrid_Scorers,Real_Madrid_Own_Goals,Barcelona_Own_Goals
0,13-05-1902,Hipodromo,Copa de la Coronacion,3,1,Barcelona,"Steinberg, Steinberg, Gamper",Johnson,NaN,NaN
1,26-03-1916,Camp del Carrer Muntaner,Copa Del Rey,2,1,Barcelona,"Alcantara, Martinez",Petit,NaN,NaN
2,02-04-1916,Campo de O'Donnell,Copa Del Rey,1,4,Real Madrid,Martinez,"Bernabeu, Bernabeu, Bernabeu, Petit",NaN,NaN
3,13-04-1916,Campo de O'Donnell,Copa Del Rey,6,6,Draw,"Alcantara, Alcantara, Alcantara, Mallorqui, Ba...","Belaunde, Belaunde, Belaunde, Bernabeu, Bernab...",NaN,NaN
4,15-04-1916,Campo de O'Donnell,Copa Del Rey,2,4,Real Madrid,"Martinez, Martinez","Bernabeu, Zabalo, Aranguren, Aranguren",NaN,NaN

In [ ]:
def split_scorers_data(df):
    # Create empty lists to store the expanded data
    expanded_data = []
    
    # Iterate through each row of the original dataframe
    for _, row in df.iterrows():
        # Split Barcelona scorers
        barca_scorers = str(row['Barcelona_Scorers']).split(', ') if pd.notna(row['Barcelona_Scorers']) else []
        # Split Real Madrid scorers
        madrid_scorers = str(row['Real_Madrid_Scorers']).split(', ') if pd.notna(row['Real_Madrid_Scorers']) else []
        
        # Get the maximum length between both scorer lists
        max_scorers = max(len(barca_scorers), len(madrid_scorers))
        
        # Pad the shorter list with None to match lengths
        barca_scorers.extend([None] * (max_scorers - len(barca_scorers)))
        madrid_scorers.extend([None] * (max_scorers - len(madrid_scorers)))
        
        # Create a record for each scorer
        for barca_scorer, madrid_scorer in zip(barca_scorers, madrid_scorers):
            expanded_data.append({
                'Date': row['Date'],
                'Venue': row['Venue'],
                'League': row['League'],
                'Barcelona_Goals': row['Barcelona_Goals'],
                'Real_Madrid_Goals': row['Real_Madrid_Goals'],
                'Winner': row['Winner'],
                'Barcelona_Scorer': barca_scorer,
                'Real_Madrid_Scorer': madrid_scorer
            })
    
    # Create new dataframe from the expanded data
    new_df = pd.DataFrame(expanded_data)
    return new_df

In [ ]:
new_df = split_scorers_data(df)
new_df.to_csv("extended.csv", index=False)

In [22]:
 
 
# Create a new list to store transformed data
expanded_data = []

# Iterate through each row in the original DataFrame
for _, row in df.iterrows():
    barca_scorers = str(row["Barcelona_Scorers"]).split(", ") if pd.notna(row["Barcelona_Scorers"]) else []
    real_scorers = str(row["Real_Madrid_Scorers"]).split(", ") if pd.notna(row["Real_Madrid_Scorers"]) else []
    
    max_goals = max(len(barca_scorers), len(real_scorers))  # Find max goals to balance rows
    
    for i in range(max_goals):
        expanded_data.append([
            row["Date"], row["Venue"], row["League"], row["Barcelona_Goals"], row["Real_Madrid_Goals"], row["Winner"],
            barca_scorers[i] if i < len(barca_scorers) else "",
            real_scorers[i] if i < len(real_scorers) else "",
            "", ""  # Placeholder for own goals
        ])
    
    # Handle Real Madrid own goals
    if pd.notna(row["Real_Madrid_Own_Goals"]):
        expanded_data.append([
            row["Date"], row["Venue"], row["League"], row["Barcelona_Goals"], row["Real_Madrid_Goals"], row["Winner"],
            "", "", row["Real_Madrid_Own_Goals"], ""  # Own goal entry
        ])
    
    # Handle Barcelona own goals
    if pd.notna(row["Barcelona_Own_Goals"]):
        expanded_data.append([
            row["Date"], row["Venue"], row["League"], row["Barcelona_Goals"], row["Real_Madrid_Goals"], row["Winner"],
            "", "", "", row["Barcelona_Own_Goals"]  # Own goal entry
        ])

# Create the new expanded DataFrame
new_df = pd.DataFrame(expanded_data, columns=[
    "Date", "Venue", "League", "Barcelona_Goals", "Real_Madrid_Goals", "Winner",
    "Barcelona_Scorer", "Real_Madrid_Scorer", "Real_Madrid_Own_Goal", "Barcelona_Own_Goal"
])

# Save or display the new DataFrame
new_df.to_csv("expanded_data.csv", index=False)

In [21]:
new_df = split_scorers_data(df)
new_df.to_csv("extended.csv", index=False)